@import 'reset.css';

@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');

body{
    font-family: 'Ubuntu', sans-serif;
    height: 400vh;
}

header{
    height: 80vh;
    /* background-image: url('../assets/img/header.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; */
    background: url('../assets/img/header.jpg') center/cover fixed;
    /* background-attachment: fixed; */
}